
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    body {
        font-family: "Times New Roman", Times, serif;
    }
    #chat_container {
         border: 1px solid black;
         border-radius: 5px;
        float : right;
        background-color : #e3f5fc;
        overflow: hidden;


        width : 350px;
        margin: 0px 0px 0px 1000px;
    }
    #chat_log {

        padding: 10px;
        border-bottom: 1px solid black;
        margin : 10px 10px 10px 10px;
        overflow-y: scroll;
        height: 350px;
        font-size: 10px;
        <!--width : 250px;-->

    }
    #chat_input_container {
        padding: 10px;
    }
    #chat_input {
        padding: 2px;
        font-size: 18px;
        width: 100%;
    }
    .chat_line {
        overflow: hidden;

        width: 100%;
        margin: 2px 0 12px 0;
    }

    img{
        float : right;
           position: -webkit-sticky;
        position: sticky;
        cursor : pointer;
        height : 60px;
        border-radius : 50%;
    }


    <!--button,button.hover{-->
        <!--float : right;-->
        <!--&lt;!&ndash;border-radius : 50%;&ndash;&gt;-->
        <!--cursor : pointer;-->
        <!--padding: 0px 134px;-->
        <!--&lt;!&ndash;margin-left : 150px;&ndash;&gt;-->
    <!--}-->

       .chat_triangle, .chat_triangle_user {
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        left: -18px;
        border-width: 0 18px 13px 0;
        border-color: transparent #ffffff transparent transparent;
    }
    .chat_triangle_user {
        left: auto;
        right: -18px;
        border-width: 13px 18px 0 0;
        border-color: #234b9b transparent transparent transparent;
    }
    .chat_bubble, .chat_bubbleuser {
        position: relative;
        float: left;
        background-color: #FFF;
        margin-top: 10px;
        line-height: 35px;
        padding: 10px 25px 10px 25px;
        margin-left: 20px;
        font-size: 20px;
    }
    .chat_bubbleuser {
        float: right;
        margin-left: 0px;
        margin-right: 20px;
        background-color: #234b9b;
        color: #FFF;
    }
    button {
    float : right;
    width : 20px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
input[type="submit"] {
    margin: 0px 0px 0px -50px;
    padding:3px 6px 2px 6px;
    height: 28px;
    width: 50px;
    background: blue;
    color: white;
    border: 0;
    -webkit-appearance: none;
}



